body{
    display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            background-color: blanchedalmond;
}

#dclock {
    box-shadow:1px 0px 10px hsla(240, 100%, 10%, 0.808);
            padding:100px 200px; 
            font-size: 40pt;
            
}
.switch{
            color: white;   
            font-size: 13pt;
            margin: 8px 0;
            background-color: rgb(0, 0, 50);
            padding: 14px 25px;
            border: none;
            border-radius: 4px;
            cursor:pointer;
            text-decoration: none;
}
#clockContainer {
    position: relative;
    margin: auto;
    height: 30vw;
    width: 40vw;
    background: url(clock.jpg) no-repeat;/*background image*/   
    background-size: 100%;
    box-shadow:1px 0px 10px #000032ce;
    
}
.clock{
    background-color: rgb(200, 241, 16);
    color: rgb(250, 251, 252);
    width: 400px;
    margin-right: 0px;
    border: none;
    height: 400px;
}

#hour,#minute,#second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 1.6%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8;
    background-color: blue;
}

#minute {
    width: 1.4%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;
    background-color: green;
}

#second {
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.5%;
    opacity: 0.8;
    background-color: red;
}